<% @user.recent_posts.each do |u| %>
<div class = "vh-100 d-block">
<h1>
 
           <%= u.title %>
   </h1>
<p><%= u.text %></p>
   <div class="d-flex justify-content-end">
        <div class="d-flex">
          <div class="mx-2">
          <span><%= u.comments_counter %></span>     
                 <i class="fas fa-comment mx-1"></i>
          </div>
        <div class="mx-2 d-flex justify-center">          <span><%= u.likes_counter %></span>       
               <i class="fas fa-heart mx-1"></i>
                         <%= render partial: "posts/like", locals: { url: "/users/#{@user.id}/posts/#{u.id}/likes", post: u } %>
          </div>
        </div>
      </div>
      <div class="list-inline">
        <% u.recent_comments.each do |cmt| %>
          <li class="border-start px-4 border-4 border-info px-2 shadow py-1 mb-2">            <h5><%= cmt.author.name %></h5>
            <p><%= cmt.text %></p>
          </li>
        <% end %>
      </div>
       
<% end %>